.todo {
  font-weight: bold;
}





.four-views {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
}

div.tooltip {	
  position: absolute;			
  text-align: center;			
  width: auto;					
  height: auto;					
  padding: 2px;				
  font: 12px sans-serif;		
  background: lightsteelblue;	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;			
}

.axis.red line{
  stroke: red;
}

.axis.red path{
  stroke: red;
}

.axis.red text{
  fill: red;
}

.axis-cap.red {
  fill: red;
}

.axis.green line{
  stroke: limegreen;
}

.axis.green path{
  stroke: limegreen;
}

.axis.green text{
  fill: limegreen;
}

.axis-cap.green {
  fill: limegreen;
}

.axis.blue line{
  stroke: blue;
}

.axis.blue path{
  stroke: blue;
}

.axis.blue text{
  fill: blue;
}

.axis-cap.blue {
  fill: blue;
}





/**
 * Allows a div to keep a certain aspect ratio. Use like this:
 * <div class="aspect-ratio-16-9">
 *   <div class="aspect-ratio-child">
 *   </div>
 * </div>
 * https://www.w3schools.com/howto/howto_css_aspect_ratio.asp
 */
.aspect-ratio-16-9 {
  width: 100%;
  padding-top: 56.25%;
  position: relative;
}

.aspect-ratio-1-1 {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.aspect-ratio-child {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}





/* Main page div layout */
#main-page {
  width: 70%;
  display: flex;
}

#path-view-container {
  width: 75%;
}

#side-view-container {
  width: 25%;
}




.ignore-mouse-events {
  pointer-events: none;
}





/** Styles that apply to graphs */
.graph-line {
  fill: none;
}

.graph-selection-line {
  fill: none;
  stroke-dasharray: 5, 5;
}




/** table styles */
.data-table td {
  padding: 0px;
  white-space: pre;
}




/** Tabs (from https://www.w3schools.com/howto/howto_js_tabs.asp) */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab .tablink {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
/* Change background color of buttons on hover */
.tab .tablink:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab .tablink.tabselected {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.tabcontent:not(.tabselected) {
  display: none;
}




/** Path line chart styles */
#path-line-chart-container {
  display: flex;
}

#path-line-chart {
  flex-grow: 1;
}
#path-line-chart-legend {
  margin: 1em 1em 1em 0em;
  display: flex;
  flex-direction: column;
}
